<div>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">公告发布</h1>
		</div>
	</div>
	<!-- /.col-lg-12 -->
	<div  class="row col-lg-12">
		<div>
			<label>公告标题：</label>
			<input type="text" id="tip_title" value="">
			<a class="btn btn-primary" onclick="report_tip();">发布</a>
		</div>
		<label>公告正文：</label>
		<div id="summernote" style="height:400px;">Hello Summernote</div>
	</div>
</div>